In [2]:
import pandas as pd

In [3]:
# Read the productivity dataset into a pandas dataframe
df = pd.read_csv('datasets/gwp_assessment.csv')
df.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8.0,0.80,26.16,1108.0,7080.0,98.0,0.0,0.0,0.0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1.0,0.75,3.94,NaN,960.0,0.0,0.0,0.0,0.0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11.0,0.80,11.41,968.0,3660.0,50.0,0.0,0.0,0.0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12.0,0.80,11.41,968.0,3660.0,50.0,0.0,0.0,0.0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6.0,0.80,25.90,1170.0,1920.0,50.0,0.0,0.0,0.0,56.0,0.800382

In [4]:
#
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1179 non-null   object
 1   quarter                1186 non-null   object
 2   department             1190 non-null   object
 3   day                    1182 non-null   object
 4   team                   1185 non-null   float64
 5   targeted_productivity  1180 non-null   float64
 6   smv                    1189 non-null   float64
 7   wip                    691 non-null    float64
 8   over_time              1188 non-null   float64
 9   incentive              1192 non-null   float64
 10  idle_time              1185 non-null   float64
 11  idle_men               1185 non-null   float64
 12  no_of_style_change     1184 non-null   float64
 13  no_of_workers          1187 non-null   float64
 14  actual_productivity    1197 non-null   float64
dtypes: float64(11), object(4)
memory usage: 140.4+ KB

In [6]:
# Check if any null values exist in the dataset
df.isnull().sum()

date                      18
quarter                   11
department                 7
day                       15
team                      12
targeted_productivity     17
smv                        8
wip                      506
over_time                  9
incentive                  5
idle_time                 12
idle_men                  12
no_of_style_change        13
no_of_workers             10
actual_productivity        0
dtype: int64